pyrogram
TgCrypto
google-api-python-client>=2.187.0
google-auth-httplib2
google-auth-oauthlib
httplib2
psycopg2-binary
tenacity>=8.0.0
aiohttp==3.14.3
cachetools
aiofiles
cryptography
httpx
yt-dlp
SQLAlchemy
